/* .truck-card-container {
  display: flex;
  gap: 8rem;
}

.truck-card-container .truck-card__item {
  flex: 1;
}

.driver-card {
  display: flex;
  gap: 8rem;
}

.driver-card div {
  flex: 1;
}

.driver-card__upload {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.driver-card__upload div {
  flex: 1;
}

.shipper-card-container {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.shipper-card-container div {
  flex: 1;
}

.destination-card {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.destination-card div {
  flex: 1;
} */
